body {
    font-family: "Roboto Light", "Ubuntu Light", "Ubuntu", monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: #333
}
#container {
    width:100%;
    max-width: 800px;
    margin-top: 20px;
}
.section{
    margin-bottom: 20px;
}
textarea, input, button{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border:1px solid #ccc;
    border-radius: 4px
}
#response{
    margin-top: 20px;
    background: #f4f4f4;
    padding: 20px;
    border-radius: 4px;
    display: none;
}